/* Full Size */
.responsive-container {
  width: 55%;
  margin: 0 auto;
}

@media only screen and (min-width: 1281px) and (max-width: 1540px) {
  .responsive-container {
    width: 60%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .responsive-container {
    width: 65%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .responsive-container {
    width: 70%;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .responsive-container {
    width: 100%;
  }
}
