/* globals.css */
@import 'tailwindcss';

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-main: #e83b64;
  --color-light-background: #f1f4f6;
  --color-main-orange: #ffa552;
  --color-bold-orange: #ff6b00;
  --color-main-success: #38a169;
  --color-bold-success: #228b22;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
